@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  background-image:url(img/background.jpg);
  font-family: 'Open Sans', sans-serif;
}

nav {
    position: fixed;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 80px;
}

li {
    float: left;
    height: 80px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 13px 30px;
    text-decoration: none;
    line-height: 55px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

section {
  height: inherit;
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  padding: 10px;
  /* Fallback for web browsers that don't support RGBa */
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

#logo {
  height: 70px;
  width: 70px;
  padding: 5px;
  float: left;
}

#empty {
  height:150px;
}

#zoeken {
  float: right;
  text-align: center;
  padding: 13px 30px;
  text-decoration: none;
  line-height: 55px;
  color: white;
  background-color: #111;
}

#tbxID{
  border: 1px solid;
  padding: 8px 4px;
}

#btnID{
  padding: 8px 10px;
  border: 1px solid;
  background-image: -webkit-linear-gradient(#2d8cc2,#0b5f9f);
  background-image: linear-gradient(#2d8cc2,#0b5f9f);
  -webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.2);
  box-shadow: inset 1px 1px 0 rgba(255,255,255,0.2);
  margin-left: -5px;
}

#pokemonNaam{
  text-transform:capitalize;
}

.loadHolder{
  background-color: rgba(17, 17, 17, 0.7);
  display: none;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 30%;
  height: 175px;
  width: 175px;
  border-radius: 20px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-top: 5%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#welcome {
  padding: 15px;
    background: #eee;
    box-shadow: inset 0 0 8px #ccc;
    border-radius: 8px;
    height: inherit;
}

#pokemonAfbeelding {
  width: 300px;
  background: #eee;
  box-shadow: inset 0 0 8px #ccc;
  border-radius: 8px;
}

#pokemonImg {
  padding-top: 5px;
  padding-bottom: 5px;
}

#pokemonNaam {
  font-size: 150%;;
  font-weight: bolder;
}

#divName {
  text-align: center;
}

.pokemon {
  width: 33%;
}































.type - normal {
		background: #8a8a59;background-image:-webkit-linear-gradient(# a8a878,#8a8a59);
    background-image:linear-gradient(# a8a878,#8a8a59);
    border-color:# 79794e;
	}.type - fire {
		background: #f08030;background - image: -webkit - linear - gradient(#f08030, #dd6610);
    background - image: linear - gradient(#f08030, #dd6610);
    border - color: #b4530d;
	}.type - water {
		background: #6890f0;background-image:-webkit-linear-gradient(# 6890 f0,	#386ceb);
    background-image:linear-gradient(# 6890 f0,#386ceb);
    border-color:# 1753e3;
	}.type - electric {
		background: #f8d030;background - image: -webkit - linear - gradient(#f8d030, #f0c108);background - image: linear - gradient(#f8d030, #f0c108);border - color: #c19b07
	}.type - grass {
		background: #78c850;background-image:-webkit-linear-gradient(# 78 c850,
		#5ca935);background-image:linear-gradient(# 78 c850,
		#5ca935);border-color:# 4 a892b
	}.type - ice {
		background: #98d8d8;background-image:-webkit-linear-gradient(# 98 d8d8,
		#69c6c6);background-image:linear-gradient(# 98 d8d8,
		#69c6c6);border-color:# 45 b6b6
	}.type - fighting {
		background: #c03028;background - image: -webkit - linear - gradient(#c03028, #9d2721);background-image:linear-gradient(# c03028, #9d2721);border-color:# 82211 b
			}.type - poison {
				background: #a040a0;background - image: -webkit - linear - gradient(#a040a0, #803380);background-image:linear-gradient(# a040a0, #803380);border-color:# 662966
					}.type - ground {
						background: #e0c068;background - image: -webkit - linear - gradient(#e0c068, #d4a82f);background - image: linear - gradient(#e0c068, #d4a82f);border - color: #aa8623
					}.type - flying {
						background: #a890f0;background - image: -webkit - linear - gradient(#a890f0, #9180c4);background-image:linear-gradient(# a890f0, #9180c4);border-color:# 7762 b6
							}.type - psychic {
								background: #f85888;background - image: -webkit - linear - gradient(#f85888, #f61c5d);background - image: linear - gradient(#f85888, #f61c5d);border - color: #d60945
							}.type - bug {
								background: #a8b820;background - image: -webkit - linear - gradient(#a8b820, #8d9a1b);background-image:linear-gradient(# a8b820, #8d9a1b);border-color:# 616 b13
									}.type - rock {
										background: #b8a038;background - image: -webkit - linear - gradient(#b8a038, #93802d);background-image:linear-gradient(# b8a038, #93802d);border-color:# 746523
											}.type - ghost {
												background: #705898;background-image:-webkit-linear-gradient(# 705898,
												#554374);background-image:linear-gradient(# 705898,
												#554374);border-color:# 413359
											}.type - dragon {
												background: #7038f8;background-image:-webkit-linear-gradient(# 7038 f8,
												#4c08ef);background-image:linear-gradient(# 7038 f8,
												#4c08ef);border-color:# 3 d07c0
											}.type - steel {
												background: #b8b8d0;background - image: -webkit - linear - gradient(#b8b8d0, #9797ba);background-image:linear-gradient(# b8b8d0, #9797ba);border-color:# 7 a7aa7
												}.type - dark {
													background: #705848;background-image:-webkit-linear-gradient(# 705848,
													#513f34);background-image:linear-gradient(# 705848,
													#513f34);border-color:# 362 a23
												}.type - fairy {
													background: #e898e8;background - image: -webkit - linear - gradient(#e898e8, #de6ede);background - image: linear - gradient(#e898e8, #de6ede);border - color: #d547d5
												}.type - curse {
													background: #68a090;background-image:-webkit-linear-gradient(# 68 a090,
													#4e7c6f);background-image:linear-gradient(# 68 a090,
													#4e7c6f);border-color:# 41685 d
												}
